# Project exclude paths
/.gradle/
/all/build/
/android/build/
/build/
/dependencies/build/
/dependencies/generator/build/
/dependencies/updater/build/

# Include dependencies mapping path
!deps-mapping/
!/build/tmp/deps-mapping/